html {
  white-space-collapse: preserve;
  --description-font-size: 12px;
  --edit-cv-section-width: 500px;
  --edit-label-width: 80px;

  --cv-width: 700px;
  --cv-height: 1000px;
  --top-row-height: 150px;
  --bottom-row-height: 900px;
  --left-column-width: 250px;
  --right-column-width: calc(var(--cv-width) - var(--left-column-width));
  --edit-submit-button-font-size: 10px;
  --edit-section-gap: 10px;
  --list-padding: 3px;

  /* Skills List*/
  --skills-list-grid-row-height: 60px;
  --skill-list-grid-left: 140px;
  --skill-list-grid-center: 120px;
  --skill-list-grid-right: 80px;
  --skill-list-grid-deletecolumn: 30px;

  --skill-list-skill-width: 140px;
  --skill-list-dropdown-width: 105px;
  --skill-list-yrs-exp-width: 35px;
  --skill-list-delete-width: 70px;

  /* Colors */
  --submit-button-color: white;
  --submit-button-bg-color: green;
  --edit-button-color: white;
  --edit-button-bg-color: orange;
  --add-item-bg-color: blue;
 --stop-editing-button-bg-color: #fecaca;
  --stop-editing-button-color: #44403c;
  --form-header-color: blue;


  /* Other Colors*/
  --heading-color: #fff;
  --heading-bg-color: #0284c7;


  --left-side-bg-color: #e2e8f0;
  --right-side-bg-color: white;
  --cv-section-bg-color: #082f49;
  --cv-section-color: #eff6ff;

  /* Fonts */
  font-size: var(--description-font-size);
  font-family: Arial, sans-serif;
  --experience-section-title-font-size: 1.7rem;
  --experience-info-heading-font-size: 1.1rem;
  --experience-bullet-font-size: 1rem;
  --input-form-text-size: 1.4rem;
  --input-dropdown-size: 2.3rem;
  --list-index: 10px;

  /* Input Information Cards */
  --input-card-padding: 20px;
}


#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  gap: 30px;

}

h2 {
  font-size: 2rem;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

/* ------------------ CV Itself ------------------*/
.cv {
  width: var(--cv-width);
  height: var(--cv-height);
  display: grid;
  grid-template-rows: var(--top-row-height) var(--bottom-row-height) ;
  grid-template-columns: var(--left-column-width) var(--right-column-width);
  border: 2px solid black;
  margin-left: 40px;

  box-sizing: content-box;
}

.cv-top-banner{

  position: absolute;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: var(--cv-section-bg-color);
  height: 100px;
  width: var(--cv-width);

  top: 100px;
  z-index: -5;
}

.cv-photo{
  grid-column: 1 / 2;
  padding: 0px;
  align-self: center;
  justify-self: center;
 
  background-image: url('../assets/croppedpic.JPG');
  background-size: contain; 
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */

  width: 120px;
  height: 120px;

  border-radius: 8px;
  border: 4px solid white;

}

.cv-heading {
  grid-column: 2 / 3;
  
  color: var(--heading-color);
  position:relative;
  top: 30px;
}

.cv-heading-name{
  font-size: 3rem;
}

.cv-heading-intro{
  font-size: var(--description-font-size);
}


.cv-left-info-column {
  grid-column: 1 / 2;
}

.cv-left-column-background {
  width: var(--left-column-width);
  height:var(--cv-height);
  position: absolute;

  grid-row: 1 / 3;
  grid-column: 1 / 2;
  z-index: -10;
  background-color: var(--left-side-bg-color);
  position: absolute;

}

.cv-right-info-column {
  
  grid-column: 2 / 3;
  grid-row: 2 / 3;
 

}
/* 
.cv-right-column-background {
  width: var(--right-column-width);
  height:var(--bottom-row-height);
  position: absolute;
  height: 100%;

  grid-row: 1 / 3;
  grid-column: 2 / 3;
  z-index: -10;
  background-color:orange;
  

} */



.list {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  padding: var(--list-padding);
  position: relative;
}

.cv-section-title {
  background-color: var(--cv-section-bg-color);
  color: var(--cv-section-color);
  font-size: var(--experience-section-title-font-size);

  margin: 5px;
  border-radius: 8px;
  border: 2px solid white;
  /* Blue border */
  outline: 1px solid var(--cv-section-bg-color);
  /* White outline */
  outline-offset: 2px;

}


.cv-first-level-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 4px;
  margin-left: var(--list-index);
}


.experience-info-heading {
  /* color: green; */
  /* border: 2px solid green; */
  font-size: var(--experience-info-heading-font-size);
  text-align: left;
}

.experience-list {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education-info-heading {
  /* color: green; */
  /* border: 2px solid green; */
  font-size: var(--description-font-size);
  text-align: left;
}

.education-list {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-bullet {
  /* color: blue; */
  /* border: 2px solid blue; */
  font-size: var(--experience-bullet-font-size);
  text-align: left;


}



.experience-section {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.experience-bullet-list {
  padding-left: 15px;
  list-style-type: disc;
  margin-left:var(--list-index);
}

.cv-left-column,
.cv-right-column {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}




.education-section {}

.contact-section {}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.contact-bullet {
  font-style: italic;
  text-align: left;
}

.address {
  display: flex;
  flex-direction: column;
}

.skills-paragraph {
  font-size: var(--description-font-size);
}

.skills-subsection {
  text-align: left;
  padding: 5px;
}




.edit-education-form {}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.editable-section {
  position: relative;
}



.cv-edit-button {
  width: 50px;
  height: 30px;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1000;
  border: 2px solid black;

}







/* ------------------ Input Form Part ----------------------------------*/

.input-section-card {
  padding: 10px;
  border: 2px solid green;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.edit-form-title {
  font-size: 2rem;
  color: var(--form-header-color);
}

.stop-editing-button, .stop-editing-button-small{
  background-color: var(--stop-editing-button-bg-color);
  color: var(--stop-editing-button-color);
}
.stop-editing-button-small{
  font-size: inherit;
}


.edit-form-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.edit-form-heading-row-with-delete {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.delete-item-button {
  width: 50px;
  height: 30px;
  color: red;
  padding: 0px;
  border: 2px solid black;
}


.add-experience-button {
  width: 140px;
  background-color: var(--add-item-bg-color);
}

.edit-cv-section {
  width: var(--edit-cv-section-width);
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: var(--edit-section-gap);
  padding: 20px;
  flex: 1 0 auto;
}

label {
  display: inline-block;
  white-space: nowrap;

}

.experience-form-heading {
  font-size: 1.2rem;

}

.bullets-fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bullets-with-delete {
  display: flex;

}

.custom-textarea-bullets {
  font-family: Arial, sans-serif !important;
  width: 80%;
  overflow: hidden;
  height: auto;
  flex: 0 0 auto;
}

.bullet-delete {
  width: 20%;
  flex: 0 0 auto;
  background-color: green;
}

.custom-textarea {
  font-family: Arial, sans-serif !important;
  width: 100%;

}





.basic-form-input-row {
  display: flex;
  gap: 4px;
  font-size: var(--input-form-text-size);
}

.form-input-text-size {
  font-size: var(--input-form-text-size);
}

.date-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  font-size: var(--input-form-text-size);
}


/* React Date Picker */
.react-datepicker-wrapper {
  width: 70px;

  font-size: var(--input-form-text-size) !important;
}

.react-datepicker__input-container {
  font-size: var(--input-form-text-size);
}

/* Adjust the month and year dropdown */
.react-datepicker__month-select,
.react-datepicker__year-select {
  font-size: var(--input-form-text-size);
  /* Increase font size for month and year selects */
  padding: 0.9rem;
  /* Add padding */
}

.react-datepicker__header.react-datepicker-year-header {
  font-size: var(--input-form-text-size);
}

/* Style for each month */
.react-datepicker__month {

  font-size: var(--input-form-text-size);
}

.submit-cancel-button-row {
  display: flex;
  gap: 5px;
  margin-left: auto;
}


.editable-section-text {
  color: #0e0ad1;
  font-size: 28px;
  width: 200px;
  text-align: start;
}

input.editable-section-text {
  border: 2px solid black;

}


.editable-section-edit-button,
.editable-section-submit-button {
  font-size: var(--edit-submit-button-font-size);
  width: 70px;
  position: absolute;
  left: 100%;
}

.editable-section-edit-button {
  background-color: var(--edit-button-bg-color);
  color: var(--edit-button-color);
}

.editable-section-submit-button {
  background-color: var(--submit-button-bg-color);
  color: var(--submit-button-color);
}

.skills-fieldset {
  display: grid;
  grid-template-columns: var(--skill-list-grid-left) var(--skill-list-grid-center) var(--skill-list-grid-right) var(--skill-list-grid-deletecolumn);
  grid-auto-rows: var(--skills-list-grid-row-height);
  justify-items: center;
  align-items: center;
  gap: 5px;
}


.skill-bullet {
  display: flex;
  gap: 3px;
  justify-content: space-around;
}

.skill-list-column-header {
  width: 100%;
  font-size: var(--input-form-text-size);
  text-align: left;
}

.skill-textarea-bullets {
  font-family: Arial, sans-serif !important;
  width: var(--skill-list-skill-width);
  overflow: hidden;
  height: auto;
  flex: 0 0 auto;
  font-size: var(--input-form-text-size);
  text-align: left;
}

.skill-dropdown {
  width: var(--skill-list-dropdown-width);
  height: var(--input-dropdown-size);
  font-size: var(--input-form-text-size);
  text-align: center;
}

.skill-years-input {
  width: var(--skill-list-yrs-exp-width);
  text-align: center;
}

.skill-delete-button {
  width: var(--skill-list-delete-width);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Target medium smartphones */
@media only screen and (max-width: 768px) {
  #root{
    /* Styles for medium smartphones and smaller devices */
    flex-direction: column;
    align-items: center;
    
   
  }

  .edit-cv-section{
  
    width: 400px;
    overflow-x: auto;
    margin-left: 140px;
  }
}