html{
  --description-font-size: 12px;
  --cv-width: 700px;
  --left-column-width: 200px;
  --right-column-width: calc(var(--cv-width) - var(--left-column-width));
  --edit-submit-button-font-size: 10px;
  --edit-section-gap: 10px;
  --list-padding: 3px;
  
  /* Buttons */
  --submit-button-color: white;
  --submit-button-bg-color: green;
  --edit-button-color: white;
  --edit-button-bg-color: orange;

  /* Other Colors*/
  --heading-color: #fff;
  --heading-bg-color: #0284c7;

  /* Fonts */
  font-size: var(--description-font-size);
  --experience-section-title-font-size: 1.7rem;
  --experience-info-title-font-size: 1.4rem;
  --experience-bullet-font-size: 1rem;


  /* Input Information Cards */
  --input-card-padding: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display:flex;
  gap: 30px;
  
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

.list{
  display:flex;
  flex-direction: column;
  /* border: 2px solid black; */
  padding: var(--list-padding);
}

.experience-section-title{
  /* color: red; */
  /* border: 2px solid red; */
  font-size: var(--experience-section-title-font-size);
}

.experience-info-heading{
  /* color: green; */
  /* border: 2px solid green; */
  font-size: var(--experience-info-title-font-size);
  text-align: left;
}

.experience-bullet{
  /* color: blue; */
  /* border: 2px solid blue; */
  font-size: var(--experience-bullet-font-size);
  text-align: left;

  
}

.experience-section{
  grid-column: 2 / 3;
}

.experience-list{
  padding-left: 15px;
  list-style-type: disc;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.cv{
  width: var(--cv-width);
  display: grid;
  grid-template-rows: 150px 900px;
  grid-template-columns: var(--left-column-width) var(--right-column-width);
  border: 2px solid black;
}

.edit-cv-section{
  width: 400px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: var(--edit-section-gap);
  padding: 20px;
}


.cv-edit-button{
  width: 100px;
  height: 50px;
}

.input-section-card{
  padding:var(--input-card-padding);
  border: 2px solid black;
}

.cv-heading{
  grid-column: 1 / 3;
  font-size: 3rem;
  color: var(--heading-color);
  background-color: var(--heading-bg-color);
}



.basic-form-input-row{
  display:flex;
  gap: 4px;
}

.submit-cancel-button-row{
  display: flex;
  gap: 5px;
}



.editable-section{
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  justify-content: center;
  position:relative;


}

.editable-section-text{
  color:#0e0ad1;
  font-size: 28px;
  width: 200px;
  text-align: start;

  
}

input.editable-section-text{
  border: 2px solid black;

}


.editable-section-edit-button,.editable-section-submit-button{
  
  font-size: var(--edit-submit-button-font-size);
  width: 70px;
  position:absolute;
  left:100%;

}

.editable-section-edit-button{

  background-color: var(--edit-button-bg-color);
  color: var(--edit-button-color);

}

.editable-section-submit-button{

  background-color: var(--submit-button-bg-color);
  color: var(--submit-button-color);

}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
